<div class="flex flex-col items-center h-[115px] rounded-[3px] bg-[beige]">
    <div class="flex flex-row items-center justify-center h-[80px] w-full rounded-t-[3px] rounded-br-[10px] overflow-hidden"
        [ngClass]="{'bg-[#5b5d65]': !data?.rarity, 'bg-[#a06c29]': data?.rarity > 4, 'bg-[#7461a0]': data?.rarity < 5}">
        <img [ngClass]="{'h-full': data?.icon, 'h-[60px]': !data?.icon}" [src]="data?.icon ? data.icon : 'assets/img/empty.svg'" [alt]="data?.name ? data.name : 'empty'">
    </div>
    <div class="flex flex-row items-center justify-center text-xs h-[35px]">
        <p>{{data?.name ? data.name : '--'}}</p>
    </div>
</div>