<ngx-spinner *ngIf="loadAbyss() || loadResine() || loadCharacters() || loadStats()" name="homePage"
    type="ball-scale-multiple"></ngx-spinner>
<div>
    <h3 class="title">
        Perfil
    </h3>
    <div class="search">
        <input class="custom-input" type="text" [ngModel]="search()" (change)="updateSearch($event)">
        <button class="btn-primary" (click)="searchUserData()">Buscar</button>
        <button class="btn-primary" (click)="clear()">Limpiar</button>
    </div>
    <div *ngIf="!(loadAbyss() || loadResine() || loadCharacters() || loadStats())">
        <div class="resina-sect" *ngIf="notes()">
            <div class="resina">
                <img src="assets/img/resina-original.webp" alt="resina logo">
                <p>{{notes().resin}} / {{notes().max_resin}}</p>
            </div>
        </div>
        <div class="sect-stats" *ngIf="stats()">
            <h3>Estadísticas</h3>
            <div class="stats-container">
                <p>Logros: {{stats().achievements}}</p>
            </div>
        </div>
        <section class="abyss-sect" *ngIf="spiralabyss()">
            <h3>Espiral del abismo</h3>
            <div class="abyss-container">
                <p>{{spiralabyss().max_floor}}</p>
            </div>
        </section>
        <section class="characters-sect" *ngIf="characteres().length > 0">
            <h3>Personajes</h3>
            <div class="container">
                <app-card *ngFor="let character of characteres()" [data]="character"></app-card>
            </div>
            <h3 style="margin-top: 20px;">Generar personajes</h3>
            <div class="teams">
                <app-card *ngFor="let character of charactersSelected() | slice:0:4" [data]="character" class="card-select"></app-card>
                <div class="spacer"></div>
                <app-card *ngFor="let character of charactersSelected() | slice:4:8" [data]="character" class="card-select"></app-card>
            </div>
            <div style="display: flex; align-items: center; justify-content: center; margin-top: 30px;">
                <button class="btn-primary" (click)="generateTeam()">Generar equipos</button>
            </div>
            
            <div style="padding: 0 10px 10px 0; display: flex; justify-content: flex-end;">
                <p>Total: {{characteres().length}}</p>
            </div>
        </section>
    </div>
</div>