/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Hywenhei85w;
    src: url(assets/fonts/zh-cn.ttf);
}

.toast-title {
    margin-bottom: 4px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Hywenhei85w, Arial, Helvetica, sans-serif;
}

body {
    background-color: #0c0f1d;
    min-width: 600px;
}